{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

<h2>Stock Favourites</h2>

<form class="form-inline my-2 my-lg-0" action="{% url 'stocks' %}" method="POST">
		{% csrf_token %}
	<input class="form-control mr-sm-2" type="search" placeholder="Enter ticker symbol" aria-label="Search" name="ticker">
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add to Favourites</button>
</form>
<br>


<table class="table table-striped table table-hover table-bordered">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Company</th>
			<th scope="col">Ticker Symbol</th>
			<th scope="col">Current Price</th>
			<th scope="col">52Week High</th>
			<th scope="col">52Week Low</th>
			<th scope="col">YTD Change</th>	
			<th scope="col">Market Cap</th>
			<th scope="col">Remove</th>
		</tr>
	</thead>
  <tbody>
	{% if api_stocks %}
		{% for stock in api_stocks %}
		    <tr>
		    	<th scope="row">{{ stock.companyName }}</th>
		        <td>{{ stock.symbol }}</td>
		        <td>${{ stock.latestPrice | intcomma }}</td>
		        <td>${{ stock.week52High | intcomma }}</td>
		        <td>${{ stock.week52Low | intcomma }}</td>
		        <td> {{ stock.ytdChange | mul:100 |floatformat:2 }}%</td>
	   	        <td>${{ stock.marketCap | intword }}</td>
	   	        <td><a href="{% url 'delete' stock.symbol %}">x</a></td>
			</tr>
		{% endfor %}
	{% endif %}
  </tbody>
</table>




{% endblock content %}



